{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}
  
    <div class="container mb-5 mt-5">
        <h1>About Us</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto soluta sed nulla eligendi commodi optio quae
            aliquam amet! Sapiente eligendi vitae perspiciatis vel alias quaerat accusamus, nihil nostrum ratione omnis,
            fugiat sunt unde dolorum aliquid saepe dolorem ipsam quod commodi ut voluptas cumque impedit, ullam
            voluptatum. Facere facilis, quia, neque cumque cupiditate aspernatur earum mollitia tempora ratione, culpa
            explicabo quod! Ad, impedit possimus. Numquam ullam esse aperiam facilis adipisci sint similique quos sequi
            neque sed voluptas perspiciatis cumque porro non distinctio pariatur quae, dignissimos officiis nostrum
            ratione quaerat ipsam in consectetur ipsa? Quisquam ex eum voluptate excepturi perferendis temporibus rem.
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non unde, saepe ex recusandae, vero, excepturi
            illum assumenda suscipit et aspernatur exercitationem at sapiente doloribus voluptate. Doloremque,
            exercitationem pariatur omnis autem deleniti expedita, ea earum similique non dignissimos possimus? Vero
            dolorum repellat velit ex necessitatibus hic eius laboriosam deleniti dicta natus?</p>

    </div>
     
{% endblock body %}